In [2]:
import os
import pandas as pd
import time
from pykrx import stock

In [3]:
stock_total = pd.read_csv("stock_list.csv")

In [4]:
stock_total

        종목코드      종목명    시장구분
0     060310       3S  KOSDAQ
1     095570   AJ네트웍스   KOSPI
2     006840    AK홀딩스   KOSPI
3     054620   APS홀딩스  KOSDAQ
4     265520    AP시스템  KOSDAQ
...      ...      ...     ...
2599  000547  흥국화재2우B   KOSPI
2600  000545    흥국화재우   KOSPI
2601  003280     흥아해운   KOSPI
2602  037440       희림  KOSDAQ
2603  238490       힘스  KOSDAQ

[2604 rows x 3 columns]

In [5]:
stock_total

        종목코드      종목명    시장구분
0     060310       3S  KOSDAQ
1     095570   AJ네트웍스   KOSPI
2     006840    AK홀딩스   KOSPI
3     054620   APS홀딩스  KOSDAQ
4     265520    AP시스템  KOSDAQ
...      ...      ...     ...
2599  000547  흥국화재2우B   KOSPI
2600  000545    흥국화재우   KOSPI
2601  003280     흥아해운   KOSPI
2602  037440       희림  KOSDAQ
2603  238490       힘스  KOSDAQ

[2604 rows x 3 columns]

In [6]:
start_day = "2011201"
end_day = "20211201"

In [7]:
# stock_df_total = pd.DataFrame()
# for i in range(len(stock_total)):
for i in range(5):    
    stock_code = stock_total['종목코드'][i]
    stock_name = stock_total['종목명'][i]
    market = stock_total['시장구분'][i]
    
 #stock.get_market_ohlcv_by_date 주식데이터 시작일,종료일,티커 파라미터를 넣어주면 일자별로 정렬하여 DataFrame으로 반환한다.
    stock_df = stock.get_market_ohlcv_by_date(fromdate=start_day, todate=end_day, ticker=stock_code) 
    # 위 데이터를 가져오면 날짜,시가,고가,저가,..등만 나오므로 칼럼을 추가해주도록 하자.
    stock_df["종목명"] = stock_name 
    stock_df["종목코드"] = stock_code
    stock_df["시장구분"] = market
    
    
    time.sleep(1)
    print(stock_name)
    
    if not os.path.exists('stock_df_total_2.csv'):
        stock_df.to_csv('stock_df_total_2.csv', index=False, mode='w')
    else:
        stock_df.to_csv('stock_df_total_2.csv', index=False, mode='a', header=False)

3S
AJ네트웍스
AK홀딩스
APS홀딩스
AP시스템

In [8]:
stock_df.reset_index()

             날짜     시가     고가     저가     종가      거래량    종목명    종목코드    시장구분
0    2017-04-07  32100  41700  32100  41700   146984  AP시스템  265520  KOSDAQ
1    2017-04-10  49150  52000  48100  49900  3588963  AP시스템  265520  KOSDAQ
2    2017-04-11  48500  49550  47000  48950  1322228  AP시스템  265520  KOSDAQ
3    2017-04-12  49700  50600  48300  48600   755343  AP시스템  265520  KOSDAQ
4    2017-04-13  49000  50300  48300  50300   522477  AP시스템  265520  KOSDAQ
...         ...    ...    ...    ...    ...      ...    ...     ...     ...
1137 2021-11-25  24200  24250  23700  23900    92853  AP시스템  265520  KOSDAQ
1138 2021-11-26  23950  24000  22950  23100   183281  AP시스템  265520  KOSDAQ
1139 2021-11-29  22350  22900  22300  22500   153163  AP시스템  265520  KOSDAQ
1140 2021-11-30  22750  23100  21000  21300   546017  AP시스템  265520  KOSDAQ
1141 2021-12-01  21350  22400  20900  21800   146208  AP시스템  265520  KOSDAQ

[1142 rows x 9 columns]

In [9]:
stock_df

               시가     고가     저가     종가      거래량    종목명    종목코드    시장구분
날짜
2017-04-07  32100  41700  32100  41700   146984  AP시스템  265520  KOSDAQ
2017-04-10  49150  52000  48100  49900  3588963  AP시스템  265520  KOSDAQ
2017-04-11  48500  49550  47000  48950  1322228  AP시스템  265520  KOSDAQ
2017-04-12  49700  50600  48300  48600   755343  AP시스템  265520  KOSDAQ
2017-04-13  49000  50300  48300  50300   522477  AP시스템  265520  KOSDAQ
...           ...    ...    ...    ...      ...    ...     ...     ...
2021-11-25  24200  24250  23700  23900    92853  AP시스템  265520  KOSDAQ
2021-11-26  23950  24000  22950  23100   183281  AP시스템  265520  KOSDAQ
2021-11-29  22350  22900  22300  22500   153163  AP시스템  265520  KOSDAQ
2021-11-30  22750  23100  21000  21300   546017  AP시스템  265520  KOSDAQ
2021-12-01  21350  22400  20900  21800   146208  AP시스템  265520  KOSDAQ

[1142 rows x 8 columns]